<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28618243535-ltbc24cck7gv70d711edctu0l3ib3url.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28618243535-ltbc24cck7gv70d711edctu0l3ib3url</string>
	<key>API_KEY</key>
	<string>AIzaSyDkNkbksPFKMEi-HhURH0NE158BDuCkAkU</string>
	<key>GCM_SENDER_ID</key>
	<string>28618243535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-dd872</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-dd872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28618243535:ios:f0818675923a9c606a66ba</string>
</dict>
</plist>